.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
body{
    padding:10px 0px 0px 0px;
    z-index:0;
}
.navbar-inverse {
     background: #aa3311;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background: #982e0f;
  }
  .navbar-inverse .navbar-nav > .open > a,
   .navbar-inverse .navbar-nav > .open > a:hover,
   .navbar-inverse .navbar-nav > .open > a:focus {
      color: #ffffff;
      background: #982e0f;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
  .navbar-inverse .navbar-nav .open .dropdown-menu {
      background-color: #aa3311;
      color:#eeeeee;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
      color:#982e0f;
      background-color: #ffffff;
  }
